In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 교육청 (2016 -2020) 예산 DF

In [2]:
data1 = pd.read_excel('money/2017_교육청별 예산규모.xls', header=1 ) 
data1.drop(['증감액(B-A)','증감률((B-A)/A)'],axis=1, inplace =True)
data1.head()

   구분 2016년 예산(A) 2017년 예산(B)
0  전체  55,073,394  59,066,215
1  서울   7,852,159   8,147,725
2  부산   3,396,531   3,635,672
3  대구   2,624,925   2,943,500
4  인천   2,868,765   3,132,755

In [3]:
data2 = pd.read_excel('money/2019_교육청별 예산규모.xls', header=1) 
data2.drop(['증감액(B-A)','증감률((B-A)/A)'],axis=1, inplace =True)
data2.head()

   구분 2018년 예산(A) 2019년 예산(B)
0  전체  66,162,252  70,595,965
1  서울   9,151,267   9,380,315
2  부산   3,920,495   4,210,850
3  대구   3,140,785   3,262,805
4  인천   3,525,648   3,788,828

In [4]:
data3 = pd.read_excel('money/2020_교육청별 예산규모.xls', header=1) 
data3.drop(['2019년 예산(A)','증감액(B-A)','증감률((B-A)/A)'],axis=1, inplace =True)
data3.head()

   구분 2020년 예산(B)
0  전체  73,874,673
1  서울  10,084,661
2  부산   4,605,947
3  대구   3,421,228
4  인천   4,202,225

In [5]:
df = pd.merge(data1, data2, how = 'inner', on ='구분')
df = pd.merge(df, data3, how = 'inner', on ='구분')

df

    구분 2016년 예산(A) 2017년 예산(B) 2018년 예산(A) 2019년 예산(B) 2020년 예산(B)
0   전체  55,073,394  59,066,215  66,162,252  70,595,965  73,874,673
1   서울   7,852,159   8,147,725   9,151,267   9,380,315  10,084,661
2   부산   3,396,531   3,635,672   3,920,495   4,210,850   4,605,947
3   대구   2,624,925   2,943,500   3,140,785   3,262,805   3,421,228
4   인천   2,868,765   3,132,755   3,525,648   3,788,828   4,202,225
5   광주   1,672,129   1,796,151   2,002,522   2,147,931   2,237,272
6   대전   1,568,535   1,813,785   1,903,224   2,127,976   2,239,713
7   울산   1,347,450   1,542,265   1,656,240   1,767,155   1,764,632
8   세종     503,226     551,145     702,308     834,953     761,091
9   경기  11,771,108  12,052,414  14,548,472  15,417,756  16,465,048
10  강원   2,331,884   2,560,973   2,768,439   3,041,420   3,078,639
11  충북   2,016,653   2,260,042   2,533,206   2,690,301   2,724,213
12  충남   2,812,219   3,029,476   3,263,711   3,451,696   3,614,273
13  전북   2,677,899   2,861,847   3,315,707   3,469,088   3,535,131
14  전남   3,118,251   3,349,600   3,554,300   3,839,300   3,873,350
15  경북   3,663,778   4,001,281   4,103,546   4,537,665   4,576,114
16  경남   4,031,864   4,474,356   4,979,010   5,426,712   5,484,999
17  제주     816,019     913,227   1,093,373   1,201,215   1,206,137

## 교육청 코드 DF

In [6]:
data = pd.read_excel('money/03.고등학교+코드_20170913.xlsx',sheet_name ='1. 고등학교 코드',usecols=[0,1,2], header=29, nrows = 17 ) 
data.columns = ['전체이름', '구분','학교코드']
data['구분'][2,3]=['경남','경북']
data['구분'][12,13]=['전남','전북']
data['구분'][15,16]=['충남','충북']
data

          전체이름  구분        학교코드
0       강원도교육청  강원  K100000001
1       경기도교육청  경기  J100000001
2      경상남도교육청  경남  S100000001
3      경상북도교육청  경북  R100000001
4     광주광역시교육청  광주  F100000001
5     대구광역시교육청  대구  D100000001
6     대전광역시교육청  대전  G100000001
7     부산광역시교육청  부산  C100000001
8     서울특별시교육청  서울  B100000001
9   세종특별자치시교육청  세종  I100000001
10    울산광역시교육청  울산  H100000001
11    인천광역시교육청  인천  E100000001
12     전라남도교육청  전남  Q100000001
13     전라북도교육청  전북  P100000001
14  제주특별자치도교육청  제주  T100000001
15     충청남도교육청  충남  N100000001
16     충청북도교육청  충북  M100000001

In [7]:
code= pd.read_excel('money/기관코드 조회자료.xls',usecols=[0,1], skiprows=[2,12] ) 
code.columns = ['기관코드', '전체이름']
code

       기관코드        전체이름
0   7010000    서울특별시교육청
1   7150000    부산광역시교육청
2   7240000    대구광역시교육청
3   7310000    인천광역시교육청
4   7380000    광주광역시교육청
5   7430000    대전광역시교육청
6   7480000    울산광역시교육청
7   7530000      경기도교육청
8   7800000      강원도교육청
9   8000000     충청북도교육청
10  8140000     충청남도교육청
11  8320000     전라북도교육청
12  8490000     전라남도교육청
13  8750000     경상북도교육청
14  9010000     경상남도교육청
15  9290000  제주특별자치도교육청
16  9300000  세종특별자치시교육청

In [8]:
df = pd.merge(df, data, how = 'inner', on ='구분')

df

,구분,2016년 예산(A),2017년 예산(B),2018년 예산(A),2019년 예산(B),2020년 예산(B),전체이름,학교코드
0,서울,"7,852,159","8,147,725","9,151,267","9,380,315","10,084,661",서울특별시교육청,B100000001
1,부산,"3,396,531","3,635,672","3,920,495","4,210,850","4,605,947",부산광역시교육청,C100000001
2,대구,"2,624,925","2,943,500","3,140,785","3,262,805","3,421,228",대구광역시교육청,D100000001
3,인천,"2,868,765","3,132,755","3,525,648","3,788,828","4,202,225",인천광역시교육청,E100000001
4,광주,"1,672,129","1,796,151","2,002,522","2,147,931","2,237,272",광주광역시교육청,F100000001
5,대전,"1,568,535","1,813,785","1,903,224","2,127,976","2,239,713",대전광역시교육청,G100000001
6,울산,"1,347,450","1,542,265","1,656,240","1,767,155","1,764,632",울산광역시교육청,H100000001
7,세종,"503,226","551,145","702,308","834,953","761,091",세종특별자치시교육청,I100000001
8,경기,"11,771,108","12,052,414","14,548,472","15,417,756","16,465,048",경기도교육청,J100000001
9,강원,"2,331,884","2,560,973","2,768,439","3,041,420","3,078,639",강원도교육청,K100000001
10,충북,"2,016,653","2,260,042","2,533,206","2,690,301","2,724,213",충청북도교육청,M100000001
11,충남,"2,812,219","3,029,476","3,263,711","3,451,696","3,614,273",충청남도교육청,N100000001
12,전북,"2,677,899","2,861,847","3,315,707","3,469,088","3,535,131",전라북도교육청,P100000001
13,전남,"3,118,251","3,349,600","3,554,300","3,839,300","3,873,350",전라남도교육청,Q100000001
14,경북,"3,663,778","4,001,281","4,103,546","4,537,665","4,576,114",경상북도교육청,R100000001
15,경남,"4,031,864","4,474,356","4,979,010","5,426,712","5,484,999",경상남도교육청,S100000001
16,제주,"816,019","913,227","1,093,373","1,201,215","1,206,137",제주특별자치도교육청,T100000001

In [9]:
df = pd.merge(df, code, how = 'inner', on ='전체이름')
df

,구분,2016년 예산(A),2017년 예산(B),2018년 예산(A),2019년 예산(B),2020년 예산(B),전체이름,학교코드,기관코드
0,서울,"7,852,159","8,147,725","9,151,267","9,380,315","10,084,661",서울특별시교육청,B100000001,7010000
1,부산,"3,396,531","3,635,672","3,920,495","4,210,850","4,605,947",부산광역시교육청,C100000001,7150000
2,대구,"2,624,925","2,943,500","3,140,785","3,262,805","3,421,228",대구광역시교육청,D100000001,7240000
3,인천,"2,868,765","3,132,755","3,525,648","3,788,828","4,202,225",인천광역시교육청,E100000001,7310000
4,광주,"1,672,129","1,796,151","2,002,522","2,147,931","2,237,272",광주광역시교육청,F100000001,7380000
5,대전,"1,568,535","1,813,785","1,903,224","2,127,976","2,239,713",대전광역시교육청,G100000001,7430000
6,울산,"1,347,450","1,542,265","1,656,240","1,767,155","1,764,632",울산광역시교육청,H100000001,7480000
7,세종,"503,226","551,145","702,308","834,953","761,091",세종특별자치시교육청,I100000001,9300000
8,경기,"11,771,108","12,052,414","14,548,472","15,417,756","16,465,048",경기도교육청,J100000001,7530000
9,강원,"2,331,884","2,560,973","2,768,439","3,041,420","3,078,639",강원도교육청,K100000001,7800000
10,충북,"2,016,653","2,260,042","2,533,206","2,690,301","2,724,213",충청북도교육청,M100000001,8000000
11,충남,"2,812,219","3,029,476","3,263,711","3,451,696","3,614,273",충청남도교육청,N100000001,8140000
12,전북,"2,677,899","2,861,847","3,315,707","3,469,088","3,535,131",전라북도교육청,P100000001,8320000
13,전남,"3,118,251","3,349,600","3,554,300","3,839,300","3,873,350",전라남도교육청,Q100000001,8490000
14,경북,"3,663,778","4,001,281","4,103,546","4,537,665","4,576,114",경상북도교육청,R100000001,8750000
15,경남,"4,031,864","4,474,356","4,979,010","5,426,712","5,484,999",경상남도교육청,S100000001,9010000
16,제주,"816,019","913,227","1,093,373","1,201,215","1,206,137",제주특별자치도교육청,T100000001,9290000

In [10]:
df = df[['전체이름','구분','학교코드','기관코드','2016년 예산(A)','2017년 예산(B)','2018년 예산(A)','2019년 예산(B)','2020년 예산(B)']]
df

,전체이름,구분,학교코드,기관코드,2016년 예산(A),2017년 예산(B),2018년 예산(A),2019년 예산(B),2020년 예산(B)
0,서울특별시교육청,서울,B100000001,7010000,"7,852,159","8,147,725","9,151,267","9,380,315","10,084,661"
1,부산광역시교육청,부산,C100000001,7150000,"3,396,531","3,635,672","3,920,495","4,210,850","4,605,947"
2,대구광역시교육청,대구,D100000001,7240000,"2,624,925","2,943,500","3,140,785","3,262,805","3,421,228"
3,인천광역시교육청,인천,E100000001,7310000,"2,868,765","3,132,755","3,525,648","3,788,828","4,202,225"
4,광주광역시교육청,광주,F100000001,7380000,"1,672,129","1,796,151","2,002,522","2,147,931","2,237,272"
5,대전광역시교육청,대전,G100000001,7430000,"1,568,535","1,813,785","1,903,224","2,127,976","2,239,713"
6,울산광역시교육청,울산,H100000001,7480000,"1,347,450","1,542,265","1,656,240","1,767,155","1,764,632"
7,세종특별자치시교육청,세종,I100000001,9300000,"503,226","551,145","702,308","834,953","761,091"
8,경기도교육청,경기,J100000001,7530000,"11,771,108","12,052,414","14,548,472","15,417,756","16,465,048"
9,강원도교육청,강원,K100000001,7800000,"2,331,884","2,560,973","2,768,439","3,041,420","3,078,639"
10,충청북도교육청,충북,M100000001,8000000,"2,016,653","2,260,042","2,533,206","2,690,301","2,724,213"
11,충청남도교육청,충남,N100000001,8140000,"2,812,219","3,029,476","3,263,711","3,451,696","3,614,273"
12,전라북도교육청,전북,P100000001,8320000,"2,677,899","2,861,847","3,315,707","3,469,088","3,535,131"
13,전라남도교육청,전남,Q100000001,8490000,"3,118,251","3,349,600","3,554,300","3,839,300","3,873,350"
14,경상북도교육청,경북,R100000001,8750000,"3,663,778","4,001,281","4,103,546","4,537,665","4,576,114"
15,경상남도교육청,경남,S100000001,9010000,"4,031,864","4,474,356","4,979,010","5,426,712","5,484,999"
16,제주특별자치도교육청,제주,T100000001,9290000,"816,019","913,227","1,093,373","1,201,215","1,206,137"

In [11]:
df.to_csv('result/교육청.csv', encoding='utf-8', index=False)