In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('../Data/학생_Data/유초 주요-02 행정구역별 설립별 교육통계 세부 현황(1999-2021)_20210901.xlsx', header=11, sheet_name='2015-2020')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5713 entries, 서울 종로구 to 제주 소계
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   학제         5713 non-null   object
 1   설립         5713 non-null   object
 2   학교수        5713 non-null   int64
 3   학생수_계      5713 non-null   int64
 4   교원수_총계_계   5713 non-null   int64
 5   입학자_계      5713 non-null   int64
 6   졸업자_계      5713 non-null   int64
 7   진학자_계      5713 non-null   int64
 8   일반고_계      5713 non-null   int64
 9   특목고_계      5713 non-null   int64
 10  특성화고_계     5713 non-null   int64
 11  자율고_계      5713 non-null   int64
 12  기타_고등학교_계  5713 non-null   int64
 13  국내_전문대학_계  5713 non-null   int64
 14  국내_교육대학_계  5713 non-null   int64
 15  국내_대학_계    5713 non-null   int64
 16  국내_각종학교_계  5713 non-null   int64
 17  국외_전문대학_계  5713 non-null   int64
 18  국외_대학_계    5713 non-null   int64
dtypes: int64(17), object(2)
memory usage: 892.7+ KB

In [4]:
df.groupby(['Unnamed: 0']).count()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,학생수_계,교원수_총계_계,입학자_계,졸업자_계,진학자_계,...,특목고_계,특성화고_계,자율고_계,기타_고등학교_계,국내_전문대학_계,국내_교육대학_계,국내_대학_계,국내_각종학교_계,국외_전문대학_계,국외_대학_계
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2015,5713,5713,5713,5713,5713,5713,5713,5713,5713,5713,...,5713,5713,5713,5713,5713,5713,5713,5713,5713,5713
2016,5715,5715,5715,5715,5715,5715,5715,5715,5715,5715,...,5715,5715,5715,5715,5715,5715,5715,5715,5715,5715
2017,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720,...,5720,5720,5720,5720,5720,5720,5720,5720,5720,5720
2018,5732,5732,5732,5732,5732,5732,5732,5732,5732,5732,...,5732,5732,5732,5732,5732,5732,5732,5732,5732,5732
2019,5741,5741,5741,5741,5741,5741,5741,5741,5741,5741,...,5741,5741,5741,5741,5741,5741,5741,5741,5741,5741
2020,5741,5741,5741,5741,5741,5741,5741,5741,5741,5741,...,5741,5741,5741,5741,5741,5741,5741,5741,5741,5741

In [5]:
df=df.iloc[:5713]

In [6]:
ind=[]
for i in range(len(df)):
    ind.append(df['Unnamed: 1'][i] +" "+df['Unnamed: 2'][i])
    
df['법정동']=ind

In [7]:
df=df.drop(df.columns[[0,1,2]],axis=1)

In [8]:
df=df.rename(columns={'Unnamed: 3':'학제','Unnamed: 4':'설립','Unnamed: 5':'학교수'})

In [9]:
df=df.set_index('법정동')

In [10]:
df

,학제,설립,학교수,학생수_계,교원수_총계_계,입학자_계,졸업자_계,진학자_계,일반고_계,특목고_계,특성화고_계,자율고_계,기타_고등학교_계,국내_전문대학_계,국내_교육대학_계,국내_대학_계,국내_각종학교_계,국외_전문대학_계,국외_대학_계
법정동,,,,,,,,,,,,,,,,,,,
서울 종로구,유치원,공립,5,253,14,120,155,0,0,0,0,0,0,0,0,0,0,0,0
서울 종로구,유치원,사립,12,985,77,393,689,0,0,0,0,0,0,0,0,0,0,0,0
서울 종로구,유치원,소계,17,1238,91,513,844,0,0,0,0,0,0,0,0,0,0,0,0
서울 종로구,초등학교,국립,1,701,41,103,123,123,0,0,0,0,0,0,0,0,0,0,0
서울 종로구,초등학교,공립,11,4871,410,786,934,934,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
제주 소계,특수학교,소계,3,428,160,133,142,2,0,0,0,0,0,0,0,0,0,0,0
제주 소계,소계,국립,3,2220,142,622,699,695,161,10,105,0,0,54,6,273,0,0,0
제주 소계,소계,공립,266,70654,5154,17498,18584,15795,4400,144,1350,107,21,1622,17,1687,20,1,7
제주 소계,소계,사립,38,16300,957,6077,6204,4031,973,26,421,4,1,860,14,1727,0,0,5
제주 소계,소계,소계,307,89174,6253,24197,25487,20521,5534,180,1876,111,22,2536,37,3687,20,1,12

In [11]:
df.to_csv('../Data/학교_Data/구별_교원_진학자.csv', encoding='utf-8')