In [1]:
import pandas as pd

In [3]:
pd.read_csv("../../Data/주변환경_Data/최종본_유흥시설목록.csv")

,Unnamed: 0,사업장명,업태구분명,영업장주변구분명,주소,시도코드,시군구코드,법정동코드
0,0,아리랑나이트,고고(디스코)클럽,미분류,강원도 강릉시,32,32030,4215000000
1,1,소야노래공원,룸살롱,미분류,강원도 강릉시,32,32030,4215000000
2,2,하나노래궁,기타,유흥업소밀집지역,강원도 강릉시,32,32030,4215000000
3,3,팡팡,룸살롱,미분류,강원도 강릉시,32,32030,4215000000
4,4,아우라,룸살롱,미분류,강원도 강릉시,32,32030,4215000000
...,...,...,...,...,...,...,...,...
26892,26892,토마토,룸살롱,유흥업소밀집지역,충청북도 충주시,33,33020,4313000000
26893,26893,로즈,룸살롱,미분류,충청북도 충주시,33,33020,4313000000
26894,26894,연예인노래주점,룸살롱,미분류,충청북도 충주시,33,33020,4313000000
26895,26895,썸,룸살롱,미분류,충청북도 충주시,33,33020,4313000000
26896,26896,남한강,카바레,미분류,충청북도 충주시,33,33020,4313000000