In [86]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import json

In [87]:
csvpath1 = '../Data/가구_Data/raw_Data/시군구_광주_전북_전남_제주_별_보험료분위별_현황_20210912182856.csv'
csvpath2 = '../Data/가구_Data/raw_Data/시군구_대전_세종_충북_충남_별_보험료분위별_현황_20210912182856.csv'
csvpath3 = '../Data/가구_Data/raw_Data/시군구_부산_대구_울산_경북_경남_별_보험료분위별_현황_20210912183612.csv'
csvpath4 = '../Data/가구_Data/raw_Data/시군구_서울_인천_경기_강원_별_보험료분위별_현황_20210912182556.csv'

tb_data1 = pd.read_csv(csvpath1, encoding='cp949')
tb_data2 = pd.read_csv(csvpath2, encoding='cp949')
tb_data3 = pd.read_csv(csvpath3, encoding='cp949')
tb_data4 = pd.read_csv(csvpath4, encoding='cp949')

In [112]:
tb_data1.head()

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,2019.5,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11,2019.12,2019.13,2019.14
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,직장,직장,직장,직장,직장,직장,직장,지역,지역,지역
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,소계,근로자,근로자,근로자,공교,공교,공교,소계,소계,소계
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주,계,588246,79882,1357778,384823,82390,965256,340452,76912,...,1004512,426445,104259,886302,46049,161916,118210,214239,86427,364753
4,광주,1분위,62886,18098,107772,41771,24564,84898,41501,24560,...,72754,44403,32527,72440,190,37566,314,20191,7462,24526

In [115]:
tb_data2

,시군구별,보험료분위별,가입자구분별,항목,단위,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,Unnamed: 12
0,대전,계,계,세대수,세대,628285.0,645200.0,650349.0,664049.0,678495.0,695169.0,713038.0,NaN
1,대전,계,계,평균보험료,원,86319.0,90545.0,92418.0,96310.0,98740.0,478306.0,105323.0,NaN
2,대전,계,계,적용인구,명,1451826.0,1469900.0,1442544.0,1440306.0,1438035.0,1416707.0,1404674.0,NaN
3,대전,계,직장,가입자,명,418221.0,436044.0,446396.0,460352.0,472917.0,482920.0,498570.0,NaN
4,대전,계,직장,평균보험료,원,87835.0,93200.0,94023.0,98142.0,101151.0,506800.0,112611.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6595,태안군,10분위,공교,평균보험료,원,187917.0,197541.0,205308.0,212681.0,219585.0,225635.0,241059.0,NaN
6596,태안군,10분위,공교,적용인구,명,441.0,593.0,742.0,762.0,793.0,878.0,782.0,NaN
6597,태안군,10분위,지역,세대수,세대,579.0,559.0,556.0,607.0,590.0,637.0,640.0,NaN
6598,태안군,10분위,지역,평균보험료,원,260164.0,271278.0,288612.0,290366.0,297651.0,335063.0,353574.0,NaN
6599,태안군,10분위,지역,적용인구,명,1415.0,1398.0,1392.0,1498.0,1450.0,1468.0,1448.0,NaN

In [113]:
tb_data3.head()

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,2019.5,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11,2019.12,2019.13,2019.14
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,직장,직장,직장,직장,직장,직장,직장,지역,지역,지역
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,소계,근로자,근로자,근로자,공교,공교,공교,소계,소계,소계
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,부산,계,1470147,84069,3239601,949213,84722,2211363,866071,80514,...,2202642,1005698,105419,2002128,78614,166553,200514,531008,93197,926233
4,부산,1분위,144546,18183,233790,96767,24148,179738,96372,24148,...,194121,122965,31801,193728,254,38780,393,53791,7960,70025

In [114]:
tb_data4.head()

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,2019.5,2019.6,2019.7,2019.8,2019.9,2019.10,2019.11,2019.12,2019.13,2019.14
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,직장,직장,직장,직장,직장,직장,직장,지역,지역,지역
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,소계,근로자,근로자,근로자,공교,공교,공교,소계,소계,소계
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,서울,계,4579723,100737,9866346,3031907,102221,6910081,2797708,99294,...,6897961,3342210,125537,6380273,219604,176642,517688,1581473,118659,2624670
4,서울,1분위,389771,19281,662783,292254,23787,548074,291037,23787,...,585037,374094,31324,584215,529,35848,822,91241,7675,118061

In [89]:
tb_data1.columns

Index(['시군구별(1)', '보험료분위별(1)', '2013', '2013.1', '2013.2', '2013.3', '2013.4',
       '2013.5', '2013.6', '2013.7',
       ...
       '2019.5', '2019.6', '2019.7', '2019.8', '2019.9', '2019.10', '2019.11',
       '2019.12', '2019.13', '2019.14'],
      dtype='object', length=107)

In [90]:
tb_data1.loc[0]

시군구별(1)        시군구별(1)
보험료분위별(1)    보험료분위별(1)
2013                 계
2013.1               계
2013.2               계
               ...
2019.10             직장
2019.11             직장
2019.12             지역
2019.13             지역
2019.14             지역
Name: 0, Length: 107, dtype: object

In [92]:
total_data = pd.DataFrame()

In [93]:
total_data = pd.concat([tb_data1, tb_data2, tb_data3, tb_data4])

In [94]:
total_data

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,항목,단위,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,Unnamed: 12
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,광주,계,588246,79882,1357778,384823,82390,965256,340452,76912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광주,1분위,62886,18098,107772,41771,24564,84898,41501,24560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,강원,6분위,57538,68714,129612,29887,69516,68285,27584,69482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,강원,7분위,53537,88757,130978,27230,85588,69277,23170,85520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,강원,8분위,47690,115137,127309,24994,108525,73211,18654,108184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,강원,9분위,47332,152530,144777,29339,145771,99619,17468,145499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,강원,10분위,37273,246699,117671,21745,243207,76853,15596,258547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
total_data["지역별 보험료 분위"] = total_data["시군구별(1)"] + total_data["보험료분위별(1)"]

In [96]:
total_data

,시군구별(1),보험료분위별(1),2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,...,단위,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,Unnamed: 12,지역별 보험료 분위
0,시군구별(1),보험료분위별(1),계,계,계,직장,직장,직장,직장,직장,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,시군구별(1)보험료분위별(1)
1,시군구별(1),보험료분위별(1),소계,소계,소계,소계,소계,소계,근로자,근로자,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,시군구별(1)보험료분위별(1)
2,시군구별(1),보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,시군구별(1)보험료분위별(1)
3,광주,계,588246,79882,1357778,384823,82390,965256,340452,76912,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광주계
4,광주,1분위,62886,18098,107772,41771,24564,84898,41501,24560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광주1분위
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,강원,6분위,57538,68714,129612,29887,69516,68285,27584,69482,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원6분위
43,강원,7분위,53537,88757,130978,27230,85588,69277,23170,85520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원7분위
44,강원,8분위,47690,115137,127309,24994,108525,73211,18654,108184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원8분위
45,강원,9분위,47332,152530,144777,29339,145771,99619,17468,145499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원9분위
46,강원,10분위,37273,246699,117671,21745,243207,76853,15596,258547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원10분위

In [97]:
total_data.drop("시군구별(1)", axis=1, inplace=True)
total_data.drop("보험료분위별(1)", axis=1, inplace=True)

In [98]:
total_data

,2013,2013.1,2013.2,2013.3,2013.4,2013.5,2013.6,2013.7,2013.8,2013.9,...,단위,2013 년,2014 년,2015 년,2016 년,2017 년,2018 년,2019 년,Unnamed: 12,지역별 보험료 분위
0,계,계,계,직장,직장,직장,직장,직장,직장,직장,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,시군구별(1)보험료분위별(1)
1,소계,소계,소계,소계,소계,소계,근로자,근로자,근로자,공교,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,시군구별(1)보험료분위별(1)
2,세대수 (세대),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),평균보험료 (원),적용인구 (명),가입자 (명),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,시군구별(1)보험료분위별(1)
3,588246,79882,1357778,384823,82390,965256,340452,76912,835202,44371,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광주계
4,62886,18098,107772,41771,24564,84898,41501,24560,84422,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,광주1분위
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,57538,68714,129612,29887,69516,68285,27584,69482,63611,2303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원6분위
43,53537,88757,130978,27230,85588,69277,23170,85520,59619,4060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원7분위
44,47690,115137,127309,24994,108525,73211,18654,108184,53620,6340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원8분위
45,47332,152530,144777,29339,145771,99619,17468,145499,57456,11871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원9분위
46,37273,246699,117671,21745,243207,76853,15596,258547,56268,6149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,강원10분위

In [99]:
total_data.columns

Index(['2013', '2013.1', '2013.2', '2013.3', '2013.4', '2013.5', '2013.6',
       '2013.7', '2013.8', '2013.9',
       ...
       '단위', '2013 년', '2014 년', '2015 년', '2016 년', '2017 년', '2018 년',
       '2019 년', 'Unnamed: 12', '지역별 보험료 분위'],
      dtype='object', length=119)

In [100]:
total_data = total_data[['지역별 보험료 분위', 
                         '2013', '2013.1', '2013.2', 
                         '2014', '2014.1', '2014.2', 
                         '2015', '2015.1', '2015.2', 
                         '2016', '2016.1', '2016.2', 
                         '2017', '2017.1', '2017.2', 
                         '2018', '2018.1', '2018.2', 
                         '2019', '2019.1', '2019.2', 
                        ]]

In [101]:
total_data

,지역별 보험료 분위,2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,2015.2,...,2016.2,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
0,시군구별(1)보험료분위별(1),계,계,계,계,계,계,계,계,계,...,계,계,계,계,계,계,계,계,계,계
1,시군구별(1)보험료분위별(1),소계,소계,소계,소계,소계,소계,소계,소계,소계,...,소계,소계,소계,소계,소계,소계,소계,소계,소계,소계
2,시군구별(1)보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),...,적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,강원6분위,57538,68714,129612,59590,71564,131885,60090,74718,127811,...,127066,63195,81228,127475,67121,1347288,128587,71979,84739,134221
43,강원7분위,53537,88757,130978,56877,92254,137835,58459,95815,137341,...,137073,61625,103348,136220,60628,1773828,127218,59245,107525,118871
44,강원8분위,47690,115137,127309,53598,119625,143986,54039,123822,141304,...,143075,57143,132627,142844,59688,2328729,141074,62622,136777,142589
45,강원9분위,47332,152530,144777,55592,157908,168240,56913,162714,169837,...,169281,59236,174148,168740,62508,3178278,171258,63992,185212,169323
46,강원10분위,37273,246699,117671,40434,259830,124988,40755,258416,125137,...,128107,44902,275919,133722,46476,5339070,133232,48263,308608,135659

In [102]:
total_data.drop(0, inplace = True)
total_data.drop(1, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [103]:
total_data

,지역별 보험료 분위,2013,2013.1,2013.2,2014,2014.1,2014.2,2015,2015.1,2015.2,...,2016.2,2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
2,시군구별(1)보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),...,적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
5,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
6,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,강원6분위,57538,68714,129612,59590,71564,131885,60090,74718,127811,...,127066,63195,81228,127475,67121,1347288,128587,71979,84739,134221
43,강원7분위,53537,88757,130978,56877,92254,137835,58459,95815,137341,...,137073,61625,103348,136220,60628,1773828,127218,59245,107525,118871
44,강원8분위,47690,115137,127309,53598,119625,143986,54039,123822,141304,...,143075,57143,132627,142844,59688,2328729,141074,62622,136777,142589
45,강원9분위,47332,152530,144777,55592,157908,168240,56913,162714,169837,...,169281,59236,174148,168740,62508,3178278,171258,63992,185212,169323
46,강원10분위,37273,246699,117671,40434,259830,124988,40755,258416,125137,...,128107,44902,275919,133722,46476,5339070,133232,48263,308608,135659

In [104]:
new_namedic = {}
for i in range(len(total_data.columns)): 
    new_name = total_data.columns[i].split('.')[0] + "년 " + total_data.iloc[0][i]
    if i == 0:
        new_name = total_data.columns[i]
    new_namedic[total_data.columns[i]] = new_name
    
total_data.rename(columns=new_namedic, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [105]:
total_data

,지역별 보험료 분위,2013년 세대수 (세대),2013년 평균보험료 (원),2013년 적용인구 (명),2014년 세대수 (세대),2014년 평균보험료 (원),2014년 적용인구 (명),2015년 세대수 (세대),2015년 평균보험료 (원),2015년 적용인구 (명),...,2016년 적용인구 (명),2017년 세대수 (세대),2017년 평균보험료 (원),2017년 적용인구 (명),2018년 세대수 (세대),2018년 평균보험료 (원),2018년 적용인구 (명),2019년 세대수 (세대),2019년 평균보험료 (원),2019년 적용인구 (명)
2,시군구별(1)보험료분위별(1),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),...,적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명),세대수 (세대),평균보험료 (원),적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
5,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
6,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,강원6분위,57538,68714,129612,59590,71564,131885,60090,74718,127811,...,127066,63195,81228,127475,67121,1347288,128587,71979,84739,134221
43,강원7분위,53537,88757,130978,56877,92254,137835,58459,95815,137341,...,137073,61625,103348,136220,60628,1773828,127218,59245,107525,118871
44,강원8분위,47690,115137,127309,53598,119625,143986,54039,123822,141304,...,143075,57143,132627,142844,59688,2328729,141074,62622,136777,142589
45,강원9분위,47332,152530,144777,55592,157908,168240,56913,162714,169837,...,169281,59236,174148,168740,62508,3178278,171258,63992,185212,169323
46,강원10분위,37273,246699,117671,40434,259830,124988,40755,258416,125137,...,128107,44902,275919,133722,46476,5339070,133232,48263,308608,135659

In [106]:
total_data.drop(2, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [107]:
total_data

,지역별 보험료 분위,2013년 세대수 (세대),2013년 평균보험료 (원),2013년 적용인구 (명),2014년 세대수 (세대),2014년 평균보험료 (원),2014년 적용인구 (명),2015년 세대수 (세대),2015년 평균보험료 (원),2015년 적용인구 (명),...,2016년 적용인구 (명),2017년 세대수 (세대),2017년 평균보험료 (원),2017년 적용인구 (명),2018년 세대수 (세대),2018년 평균보험료 (원),2018년 적용인구 (명),2019년 세대수 (세대),2019년 평균보험료 (원),2019년 적용인구 (명)
3,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
4,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
5,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
6,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
7,광주4분위,55131,42684,107919,55473,44553,105025,57228,46550,104265,...,103137,58497,51534,103302,60671,250963,102988,66259,55993,109156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,강원6분위,57538,68714,129612,59590,71564,131885,60090,74718,127811,...,127066,63195,81228,127475,67121,1347288,128587,71979,84739,134221
43,강원7분위,53537,88757,130978,56877,92254,137835,58459,95815,137341,...,137073,61625,103348,136220,60628,1773828,127218,59245,107525,118871
44,강원8분위,47690,115137,127309,53598,119625,143986,54039,123822,141304,...,143075,57143,132627,142844,59688,2328729,141074,62622,136777,142589
45,강원9분위,47332,152530,144777,55592,157908,168240,56913,162714,169837,...,169281,59236,174148,168740,62508,3178278,171258,63992,185212,169323
46,강원10분위,37273,246699,117671,40434,259830,124988,40755,258416,125137,...,128107,44902,275919,133722,46476,5339070,133232,48263,308608,135659

In [108]:
total_data.reset_index(drop=True, inplace=True)

In [109]:
total_data

,지역별 보험료 분위,2013년 세대수 (세대),2013년 평균보험료 (원),2013년 적용인구 (명),2014년 세대수 (세대),2014년 평균보험료 (원),2014년 적용인구 (명),2015년 세대수 (세대),2015년 평균보험료 (원),2015년 적용인구 (명),...,2016년 적용인구 (명),2017년 세대수 (세대),2017년 평균보험료 (원),2017년 적용인구 (명),2018년 세대수 (세대),2018년 평균보험료 (원),2018년 적용인구 (명),2019년 세대수 (세대),2019년 평균보험료 (원),2019년 적용인구 (명)
0,광주계,588246,79882,1357778,602837,84576,1374047,611500,87480,1361222,...,1364329,638672,95166,1364651,662140,481285,1363707,686733,102562,1369265
1,광주1분위,62886,18098,107772,62207,18111,104010,62350,19244,100713,...,98927,63482,20717,98868,66467,111815,102498,64784,24730,97280
2,광주2분위,75689,26033,130082,83235,26400,140313,82908,28408,138474,...,137172,85157,31363,137134,74588,182594,123196,81033,39317,127528
3,광주3분위,61421,32820,107653,59258,35984,108014,60555,38231,106557,...,109030,66833,41374,112529,85515,186972,136738,87393,44586,137172
4,광주4분위,55131,42684,107919,55473,44553,105025,57228,46550,104265,...,103137,58497,51534,103302,60671,250963,102988,66259,55993,109156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6735,강원6분위,57538,68714,129612,59590,71564,131885,60090,74718,127811,...,127066,63195,81228,127475,67121,1347288,128587,71979,84739,134221
6736,강원7분위,53537,88757,130978,56877,92254,137835,58459,95815,137341,...,137073,61625,103348,136220,60628,1773828,127218,59245,107525,118871
6737,강원8분위,47690,115137,127309,53598,119625,143986,54039,123822,141304,...,143075,57143,132627,142844,59688,2328729,141074,62622,136777,142589
6738,강원9분위,47332,152530,144777,55592,157908,168240,56913,162714,169837,...,169281,59236,174148,168740,62508,3178278,171258,63992,185212,169323
6739,강원10분위,37273,246699,117671,40434,259830,124988,40755,258416,125137,...,128107,44902,275919,133722,46476,5339070,133232,48263,308608,135659

In [110]:
total_data.to_csv("../Data/가구_Data/시군구별 건강보험료(13-19).csv")