In [1]:
import pandas as pd

In [2]:
d1=pd.read_csv('../학생_data/학생_2017행정구역별 학업중단자수.csv', header=0)

In [3]:
ind=d1[(d1['행정구역']=='계') | (d1['학제']== '초등학교')].index
d1=d1.drop(ind)

In [4]:
in1=d1[(d1['학제']== '중학교')].index
in2=d1[ d1['학제']== '고등학교'].index
in1

Int64Index([   8,   16,   24,   31,   38,   45,   52,   59,   67,   74,
            ...
            1613, 1619, 1625, 1631, 1636, 1642, 1648, 1654, 1668, 1675],
           dtype='int64', length=229)

In [5]:
d_1=d1.loc[in1]
d_1['법정동명']= d_1['시도'] + ' ' +d_1['행정구역']
d_1=d_1[['학제','학업중단자 합계','법정동명']]
d_1.rename(columns={'학업중단자 합계' :'중학교학업중단자수'}, inplace=True)

In [6]:
d_2 =d1.loc[in2]
d_2['법정동명']= d_2['시도'] + ' ' +d_2['행정구역']
d_2=d_2[['학제','학업중단자 합계','법정동명']]
d_2.rename(columns={'학업중단자 합계' :'고등학교학업중단자수'}, inplace=True)

In [7]:
d_drop= pd.merge(d_1,d_2, on='법정동명',how='left')

In [8]:
d_drop=d_drop[['법정동명','중학교학업중단자수','고등학교학업중단자수']]

In [9]:
d_drop

        법정동명  중학교학업중단자수  고등학교학업중단자수
0     서울 종로구         30         175
1      서울 중구         16          88
2     서울 용산구         76          94
3     서울 성동구         36          59
4     서울 광진구         72         146
..       ...        ...         ...
224   경남 함양군          1          12
225   경남 거창군          5          26
226   경남 합천군          7          15
227   제주 제주시         71         152
228  제주 서귀포시         26          57

[229 rows x 3 columns]

In [10]:
d2=pd.read_csv('../비평준화_data/비평준화_Data_최종.csv')
i=d2[(d2['시도코드']==41)].index
d2=d2.loc[i]
d2.reset_index(drop=True,inplace=True)

In [11]:
d2=d2[['법정동명','학구명']]

KeyError: "['법정동명'] not in index"

In [12]:
nam=[]
for i in range(len(d2)):
    nam.append('경기도 '+d2['학구명'][i].split('학')[0] +'시')
d2['법정동명']=nam

In [13]:
d2

          학구ID    학구명  학구분류  시도코드  시도교육청코드  시도교육청명      법정동명
0   Z000390028   시흥학군     1    41  7530000  경기도교육청   경기도 시흥시
1   Z000390024   이천학군     1    41  7530000  경기도교육청   경기도 이천시
2   Z000390023   양평학군     1    41  7530000  경기도교육청   경기도 양평시
3   Z000390022   가평학군     1    41  7530000  경기도교육청   경기도 가평시
4   Z000390021   포천학군     1    41  7530000  경기도교육청   경기도 포천시
5   Z000390008   양주학군     1    41  7530000  경기도교육청   경기도 양주시
6   Z000390007  동두천학군     1    41  7530000  경기도교육청  경기도 동두천시
7   Z000390012   구리학군     1    41  7530000  경기도교육청   경기도 구리시
8   Z000390013  남양주학군     1    41  7530000  경기도교육청  경기도 남양주시
9   Z000390014   여주학군     1    41  7530000  경기도교육청   경기도 여주시
10  Z000390019   하남학군     1    41  7530000  경기도교육청   경기도 하남시
11  Z000390018   광주학군     1    41  7530000  경기도교육청   경기도 광주시
12  Z000390026   안성학군     1    41  7530000  경기도교육청   경기도 안성시
13  Z000390011   평택학군     1    41  7530000  경기도교육청   경기도 평택시
14  Z000390016   화성학군     1    41  7530000  경기도교육청   경기도 화성시
15  Z000390015   오산학군     1    41  7530000  경기도교육청   경기도 오산시
16  Z000390027   김포학군     1    41  7530000  경기도교육청   경기도 김포시
17  Z000390020   연천학군     1    41  7530000  경기도교육청   경기도 연천시
18  Z000390017   파주학군     1    41  7530000  경기도교육청   경기도 파주시

In [14]:
d3=pd.read_csv('../학교_data/구별_교원_진학자.csv')
i=d3[((d3['학제']=='중학교') | (d3['학제']== '고등학교'))&(d3['설립']== '소계')].index
d3=d3.loc[i]

In [15]:
d3=d3[['법정동','학제','학생수_계','교원수_총계_계']]

In [16]:
i=d3[(d3['학제']=='중학교')].index
d4=d3.loc[i]
i=d3[(d3['학제']=='고등학교') ].index
d5=d3.loc[i]

In [17]:
d4=d4.reset_index(drop=True)
d5=d5.reset_index(drop=True)

In [18]:

d5['중등학령인구'] = pd.to_numeric(d4['학생수_계'])+ pd.to_numeric(d5['학생수_계'])
d5['중등교원총계'] = pd.to_numeric(d4['교원수_총계_계'])+pd.to_numeric(d5['교원수_총계_계'])

In [19]:
d5['중등학령인구']  =d5['학생수_계'].astype(int) +d5['학생수_계'].astype(int) 
d5['중등교원총계']=d4['교원수_총계_계'].astype(int)+d5['교원수_총계_계'].astype(int)

In [20]:
d5=d5[['법정동','중등교원총계','중등학령인구']]

In [21]:
d5

         법정동  중등교원총계  중등학령인구
0     서울 종로구    1288   25306
1      서울 중구    1003   17866
2     서울 용산구     987   15160
3     서울 성동구    1016   12856
4     서울 광진구    1322   21872
..       ...     ...     ...
241   경남 합천군     255    2256
242    경남 소계   16801  240168
243   제주 제주시    2135   34904
244  제주 서귀포시     826   11064
245    제주 소계    2961   45968

[246 rows x 3 columns]

In [22]:
d5=d5.drop(index=i,axis=0)

KeyError: '[ 248  275  305  331  355  381  404  430  462  487  511  534  565  592\n  623  649  678  715  734  756  780  807  834  857  883  903  929  957\n  983 1006 1031 1052 1077 1102 1142 1168 1193 1214 1239 1265 1294 1324\n 1349 1386 1413 1433 1458 1483 1510 1536 1558 1582 1602 1621 1657 1677\n 1700 1727 1758 1786 1820 1847 1871 1898 1926 1950 1982 2005 2024 2046\n 2066 2091 2119 2141 2165 2192 2219 2244 2267 2286 2312 2337 2357 2378\n 2399 2423 2447 2469 2491 2511 2534 2557 2578 2600 2620 2641 2672 2694\n 2713 2738 2763 2784 2806 2825 2841 2860 2899 2928 2951 2975 2992 3010\n 3028 3049 3068 3088 3106 3122 3138 3154 3170 3186 3200 3216 3236 3271\n 3300 3324 3346 3363 3381 3398 3417 3433 3453 3472 3495 3526 3558 3583\n 3603 3630 3653 3675 3691 3708 3728 3751 3768 3789 3809 3826 3852 3888\n 3918 3945 3973 3995 4019 4039 4062 4079 4095 4111 4127 4144 4163 4184\n 4218 4244 4270 4294 4321 4343 4361 4378 4395 4413 4432 4449 4465 4488\n 4509 4530 4552 4573 4592 4609 4627 4645 4664 4695 4724 4746 4770 4796\n 4823 4844 4868 4892 4915 4940 4957 4975 4994 5011 5030 5049 5067 5086\n 5105 5121 5140 5160 5179 5212 5244 5275 5296 5318 5344 5365 5390 5412\n 5433 5452 5471 5489 5507 5524 5541 5560 5579 5603 5643 5669 5695] not found in axis'

In [23]:
sc_df=pd.merge(d5,d_drop, how='left',left_on='법정동', right_on='법정동명')
sc_df

         법정동  중등교원총계  중등학령인구     법정동명  중학교학업중단자수  고등학교학업중단자수
0     서울 종로구    1288   25306   서울 종로구       30.0       175.0
1      서울 중구    1003   17866    서울 중구       16.0        88.0
2     서울 용산구     987   15160   서울 용산구       76.0        94.0
3     서울 성동구    1016   12856   서울 성동구       36.0        59.0
4     서울 광진구    1322   21872   서울 광진구       72.0       146.0
..       ...     ...     ...      ...        ...         ...
241   경남 합천군     255    2256   경남 합천군        7.0        15.0
242    경남 소계   16801  240168      NaN        NaN         NaN
243   제주 제주시    2135   34904   제주 제주시       71.0       152.0
244  제주 서귀포시     826   11064  제주 서귀포시       26.0        57.0
245    제주 소계    2961   45968      NaN        NaN         NaN

[246 rows x 6 columns]

In [29]:
d=pd.read_csv('../법정동_Data/법정동코드_최종본.csv',index_col=0)

In [42]:
d.loc[74]

법정동코드        3611000000
법정동명            세종특별자치시
폐지여부                 존재
법정동_short       세종특별자치시
Name: 74, dtype: object

In [25]:
sc=pd.merge(d,d2,how='left', left_on='법정동명',right_on='법정동명')

In [ ]:
sc

In [ ]:
sc.head(90)

In [26]:
for i in range(len(sc)):
    name=sc['법정동_short'][i].split()[0]
    if (name=='충남')| (name=='전북')|(name=='경남')|(name=='전남')|(name=='제주')|(name=='강원')|(name=='충북'):
        sc['학구명'][i]=1

<ipython-input-26-cf60ee7e1fb7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sc['학구명'][i]=1

In [27]:

sc['학구명']=sc['학구명'].fillna(0)

In [28]:
sc

,법정동코드,법정동명,폐지여부,법정동_short,학구ID,학구명,학구분류,시도코드,시도교육청코드,시도교육청명
0,1111000000,서울특별시 종로구,존재,서울 종로구,NaN,0,NaN,NaN,NaN,NaN
1,1114000000,서울특별시 중구,존재,서울 중구,NaN,0,NaN,NaN,NaN,NaN
2,1117000000,서울특별시 용산구,존재,서울 용산구,NaN,0,NaN,NaN,NaN,NaN
3,1120000000,서울특별시 성동구,존재,서울 성동구,NaN,0,NaN,NaN,NaN,NaN
4,1121500000,서울특별시 광진구,존재,서울 광진구,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
224,4887000000,경상남도 함양군,존재,경남 함양군,NaN,1,NaN,NaN,NaN,NaN
225,4888000000,경상남도 거창군,존재,경남 거창군,NaN,1,NaN,NaN,NaN,NaN
226,4889000000,경상남도 합천군,존재,경남 합천군,NaN,1,NaN,NaN,NaN,NaN
227,5011000000,제주특별자치도 제주시,존재,제주 제주시,NaN,1,NaN,NaN,NaN,NaN
228,5013000000,제주특별자치도 서귀포시,존재,제주 서귀포시,NaN,1,NaN,NaN,NaN,NaN

In [ ]:
sc['학구명']=sc['학구명'].replace('(.*)학군(.*)', 1, regex=True)

In [ ]:
sc=sc[['법정동코드','법정동_short','학구명']]

In [ ]:
sc_d=pd.merge(sc_df,sc,how='left',right_on='법정동_short',left_on='법정동')

In [ ]:
sc_d=sc_d[['법정동코드','중등교원총계','중등학령인구','중학교학업중단자수','고등학교학업중단자수','학구명']]

In [ ]:
sc_d=sc_d.rename(columns={'학구명':'비평준화여부'})

In [ ]:
sc_d.to_csv('학군_db.csv')

In [ ]:
for i in range(len(sc_d)):  
    sc_d['법정동코드'][i]=sc_d['법정동코드'][i].astype(str)[:5]