In [1]:
import requests
from bs4 import BeautifulSoup 
from urllib.request import urlopen
from selenium import webdriver
import pandas as pd
import time

# 순서
- 셀레니움으로 원하는 페이지 열기
1. 2017년 버튼 누르기
2. 원하는 시도 버튼 누르기
3. 원하는 시도의 상세주소정보 누르기
4. 페이지 내의 정보 크롤링하기
5. 다음 페이지 클릭하고 페이지 끝까지 4번 반복
6. 마지막페이지에서 3~5 반복


- 지역 하나 다 끝냈으면 다른 지역 선택해서 반복

In [2]:
# chromedriver 구동, url 설정
driver = webdriver.Chrome('./chromedriver')
url ='https://apt2.me/apt/high.jsp#read/page=1&perPage=20' 
driver.get(url)

In [5]:
#2017년 선택
driver.find_element_by_xpath('//*[@id="Cmb_year"]/option[2]').click()

In [13]:
df = pd.DataFrame(columns=["학교명주소","서울대 계수시정시","KAIST 계수시정시","서울대 + KAIST"])

In [67]:
sido = ['제주특별자치도']

In [68]:
for si in sido:
    driver.find_element_by_xpath('/html/body/a').click() 
    time.sleep(0.5)
    #서울부터 지역 선택
    driver.find_element_by_link_text(si).click()
    time.sleep(0.3)
    gungu_len = len(driver.find_element_by_xpath('//*[@id="area"]').text.split(' '))
    time.sleep(0.5)

    for i in range(1,gungu_len+1):
        if si == '인천광역시' and i == 4:
            continue
        elif si == '경기도' and i ==35:
            continue
        elif si == '강원도' and i == 17:
            continue
        elif si == '충청북도' and i==2:
            continue
        elif si =='충청남도' and i==16:
            continue
        elif si =='전라북도' and i ==6:
            continue
        elif si =='전라북도' and i ==11:
            continue
        elif si =='전라북도' and i ==16:
            continue
        elif si =='전라남도' and i ==1:
            continue
        elif si =='전라남도' and i ==3:
            continue 
        elif si =='전라남도' and i ==5:
            continue 
        elif si =='전라남도' and i ==20:
            continue   
        elif si =='경상북도' and i ==12:
            continue   
        elif si =='경상북도' and i ==17:
            continue
        elif si =='경상북도' and i ==18:
            continue  
        elif si =='경상북도' and i ==19:
            continue 
        elif si =='경상북도' and i ==21:
            continue
        elif si =='경상남도' and i ==3:
            continue
        elif si =='경상남도' and i ==8:
            continue
        elif si =='경상남도' and i ==10:
            continue
        #지역 선택
        driver.find_element_by_link_text(si).click()
        time.sleep(0.5)
        #첫번째 구부터 선택
        driver.find_element_by_xpath('/html/body/div[3]/a['+str(i)+']').click()
        time.sleep(0.5)
        #페이지 수
        page_num = int(driver.find_element_by_css_selector('#grid > div.tui-pagination.tui-grid-pagination').text.replace("firstprev","").replace("nextlast",""))

        # df 만들기
        html = driver.page_source
        table_df_list =pd.read_html(html)

        table_df_list[3].rename({0:"학교명주소",
                   1:"서울대 계수시정시	",
                   2:"KAIST 계수시정시",
                   3:"서울대 + KAIST"
                  },axis=1,inplace=True)

        df = pd.concat([ table_df_list[3], df])
        driver.find_element_by_xpath('/html/body/a').click()
        time.sleep(0.5)

In [69]:
df = df.drop_duplicates(keep='first')

In [70]:
df

,학교명주소,서울대 계수시정시\t,KAIST 계수시정시,서울대 + KAIST,서울대 계수시정시
0,제주과학고등학교(특목고)제주특별자치도 제주시 오라이동,1 명1 명0 명,15 명15 명0 명,16 명,NaN
1,신성여자고등학교(일반고)제주특별자치도 제주시 영평동,4 명4 명0 명,0 명0 명0 명,4 명,NaN
2,남녕고등학교(일반고)제주특별자치도 제주시 연동,4 명3 명1 명,0 명0 명0 명,4 명,NaN
3,제주제일고등학교(일반고)제주특별자치도 제주시 노형동,4 명1 명3 명,0 명0 명0 명,4 명,NaN
4,대기고등학교(일반고)제주특별자치도 제주시 봉개동,3 명3 명0 명,1 명1 명0 명,4 명,NaN
...,...,...,...,...,...
13,개포고등학교(일반고)서울특별시 강남구 개포동,7 명4 명3 명,0 명0 명0 명,7 명,NaN
14,청담고등학교(일반고)서울특별시 강남구 압구정동,7 명4 명3 명,0 명0 명0 명,7 명,NaN
15,압구정고등학교(일반고)서울특별시 강남구 압구정동,6 명4 명2 명,0 명0 명0 명,6 명,NaN
16,서울세종고등학교(일반고)서울특별시 강남구 수서동,3 명1 명2 명,0 명0 명0 명,3 명,NaN
17,풍문고등학교(일반고)서울특별시 강남구 자곡동,2 명2 명0 명,0 명0 명0 명,2 명,NaN

In [1]:
df.to_csv('../Data/학교_Data/원본_고등학교 입시실적 크롤링.csv')

NameError: name 'df' is not defined

In [72]:
df

,학교명주소,서울대 계수시정시\t,KAIST 계수시정시,서울대 + KAIST,서울대 계수시정시
0,제주과학고등학교(특목고)제주특별자치도 제주시 오라이동,1 명1 명0 명,15 명15 명0 명,16 명,NaN
1,신성여자고등학교(일반고)제주특별자치도 제주시 영평동,4 명4 명0 명,0 명0 명0 명,4 명,NaN
2,남녕고등학교(일반고)제주특별자치도 제주시 연동,4 명3 명1 명,0 명0 명0 명,4 명,NaN
3,제주제일고등학교(일반고)제주특별자치도 제주시 노형동,4 명1 명3 명,0 명0 명0 명,4 명,NaN
4,대기고등학교(일반고)제주특별자치도 제주시 봉개동,3 명3 명0 명,1 명1 명0 명,4 명,NaN
...,...,...,...,...,...
13,개포고등학교(일반고)서울특별시 강남구 개포동,7 명4 명3 명,0 명0 명0 명,7 명,NaN
14,청담고등학교(일반고)서울특별시 강남구 압구정동,7 명4 명3 명,0 명0 명0 명,7 명,NaN
15,압구정고등학교(일반고)서울특별시 강남구 압구정동,6 명4 명2 명,0 명0 명0 명,6 명,NaN
16,서울세종고등학교(일반고)서울특별시 강남구 수서동,3 명1 명2 명,0 명0 명0 명,3 명,NaN
17,풍문고등학교(일반고)서울특별시 강남구 자곡동,2 명2 명0 명,0 명0 명0 명,2 명,NaN

# 나중에 전처리할 코드

In [503]:
table_df_list[3]['학교명'] = [i.split('중학교')[0]+'중학교' for i in table_df_list[3][0]]
table_df_list[3]['주소'] = [i.split('중학교')[1].split(' ')[0]+" "+i.split('중학교')[1].split(' ')[1] for i in table_df_list[3][0]]

table_df_list[3]['총인원'] = [i.split('명')[0].split(' ')[0] for i in table_df_list[3][1]]
table_df_list[3]['남학생'] = [i.split('명')[1].split(' ')[0] for i in table_df_list[3][1]]
table_df_list[3]['여학생'] = [i.split('명')[2].split(' ')[0] for i in table_df_list[3][1]] 

table_df_list[3]['과학고'] = [i.split('명')[0].split(' ')[0] for i in table_df_list[3][2]]
table_df_list[3]['외고/국제고'] = [i.split('명')[1].split(' ')[0] for i in table_df_list[3][2]]
table_df_list[3]['자사고'] = [i.split('명')[2].split(' ')[0] for i in table_df_list[3][2]]
table_df_list[3]['기타계(외국,영재,유학,대안)'] = [i.split('명')[3].split(' ')[0] for i in table_df_list[3][2]]

table_df_list[3]['특목고계'] = [i.split('명')[0].split(' ')[0] for i in table_df_list[3][3]]
table_df_list[3]['특목고비율(%)'] = [i.split('명')[1].split(' ')[0] for i in table_df_list[3][3]]

df = table_df_list[3].drop([0,1,2,3],axis=1)

AttributeError: 'float' object has no attribute 'split'

In [ ]:
for _ in range(iter_num):
    driver.find_elements_by_link_text('next')[0].click()
    time.sleep(0.5) #이거 안넣으면 다 긁기도 전에 다음페이지 클릭해버려서 에러남
    #페이지 html
    html = driver.page_source
    table_df_list =pd.read_html(html)

    # dataframe 정리하고 합치기
    table_df_list[3]['학교명'] = [i.split('중학교')[0]+'중학교' for i in table_df_list[3][0]]
    table_df_list[3]['주소'] = [i.split('중학교')[1].split(' ')[0]+" "+i.split('중학교')[1].split(' ')[1] for i in table_df_list[3][0]]

    table_df_list[3]['총인원'] = [i.split('명')[0].split(' ')[0] for i in table_df_list[3][1]]
    table_df_list[3]['남학생'] = [i.split('명')[1].split(' ')[0] for i in table_df_list[3][1]]
    table_df_list[3]['여학생'] = [i.split('명')[2].split(' ')[0] for i in table_df_list[3][1]] 

    table_df_list[3]['과학고'] = [i.split('명')[0].split(' ')[0] for i in table_df_list[3][2]]
    table_df_list[3]['외고/국제고'] = [i.split('명')[1].split(' ')[0] for i in table_df_list[3][2]]
    table_df_list[3]['자사고'] = [i.split('명')[2].split(' ')[0] for i in table_df_list[3][2]]
    table_df_list[3]['기타계(외국,영재,유학,대안)'] = [i.split('명')[3].split(' ')[0] for i in table_df_list[3][2]]

    table_df_list[3]['특목고계'] = [i.split('명')[0].split(' ')[0] for i in table_df_list[3][3]]
    table_df_list[3]['특목고비율(%)'] = [i.split('명')[1].split(' ')[0] for i in table_df_list[3][3]]

    df = table_df_list[3].drop([0,1,2,3],axis=1)
    df_final = pd.concat([df_final,df])