In [2]:
import pandas as pd

In [16]:
P_df= pd.read_csv('유치원_주소.csv', index_col=0)
P_df.head()
P_df=P_df[['학교 세부 유형','학교명','법정동']]
P_df

,학제,학교 세부 유형,시도,교육지원청,행정구,학교명,본분교,학교상태,우편번호,도로명주소,법정동
0,유치원,유치원,서울,중부,종로구,린덴바움유치원,본교,기존(원)교,030-25,서울특별시 종로구 통일로12길 51 . 린덴바움유치원 (무악동),서울특별시 종로구
1,유치원,유치원,서울,중부,종로구,배화여자대학교 부속 배화유치원,본교,기존(원)교,030-39,서울특별시 종로구 필운대로1길 34 (필운동),서울특별시 종로구
2,유치원,유치원,서울,중부,종로구,봄샘유치원,본교,기존(원)교,031-24,서울특별시 종로구 율곡로 264 (종로6가.서울복음교회),서울특별시 종로구
3,유치원,유치원,서울,중부,종로구,상명사대부속유치원,본교,기존(원)교,030-15,서울특별시 종로구 홍지문2길 1 . 상명사대부속유치원 (홍지동),서울특별시 종로구
4,유치원,유치원,서울,중부,종로구,서울명신초등학교병설유치원,본교,기존(원)교,030-93,서울특별시 종로구 낙산길 250 (창신동. 서울명신초등학교),서울특별시 종로구

     학교 세부 유형               학교명           법정동
0         유치원           린덴바움유치원     서울특별시 종로구
1         유치원  배화여자대학교 부속 배화유치원     서울특별시 종로구
2         유치원             봄샘유치원     서울특별시 종로구
3         유치원         상명사대부속유치원     서울특별시 종로구
4         유치원     서울명신초등학교병설유치원     서울특별시 종로구
...       ...               ...           ...
9159      유치원       하원초등학교병설유치원  제주특별자치도 서귀포시
9160      유치원      한마음초등학교병설유치원  제주특별자치도 서귀포시
9161      유치원             해성유치원  제주특별자치도 서귀포시
9162      유치원       효돈초등학교병설유치원  제주특별자치도 서귀포시
9163      유치원       흥산초등학교병설유치원  제주특별자치도 서귀포시

[9164 rows x 3 columns]

In [22]:
E_df= pd.read_csv('초등학교_주소.csv',index_col=0)
E_df.head()
E_df=E_df[['학교 세부 유형','학교명','법정동']]
E_df

,학제,학교 세부 유형,시도,교육지원청,행정구,학교명,본분교,학교상태,우편번호,도로명주소,법정동
9164,초등학교,초등학교,서울,중부,종로구,상명대학교사범대학부속초등학교,본교,기존(원)교,030-15,서울특별시 종로구 홍지문2길 1 . 상명사대부속초등학교 (홍지동. 상명초등학교),서울특별시 종로구
9165,초등학교,초등학교,서울,중부,종로구,서울교동초등학교,본교,기존(원)교,031-32,서울특별시 종로구 삼일대로 446 (경운동),서울특별시 종로구
9166,초등학교,초등학교,서울,중부,종로구,서울대학교사범대학부설초등학교,본교,기존(원)교,030-87,서울특별시 종로구 대학로 64 (동숭동.서울사대부설초등학교),서울특별시 종로구
9167,초등학교,초등학교,서울,중부,종로구,서울독립문초등학교,본교,기존(원)교,030-25,서울특별시 종로구 통일로12길 23 (무악동),서울특별시 종로구
9168,초등학교,초등학교,서울,중부,종로구,서울매동초등학교,본교,기존(원)교,030-27,서울특별시 종로구 사직로9길 19 . 서울매동초등학교 (필운동),서울특별시 종로구

      학교 세부 유형              학교명           법정동
9164      초등학교  상명대학교사범대학부속초등학교     서울특별시 종로구
9165      초등학교         서울교동초등학교     서울특별시 종로구
9166      초등학교  서울대학교사범대학부설초등학교     서울특별시 종로구
9167      초등학교        서울독립문초등학교     서울특별시 종로구
9168      초등학교         서울매동초등학교     서울특별시 종로구
...        ...              ...           ...
15466     초등학교           하례초등학교  제주특별자치도 서귀포시
15467     초등학교           하원초등학교  제주특별자치도 서귀포시
15468     초등학교          한마음초등학교  제주특별자치도 서귀포시
15469     초등학교           효돈초등학교  제주특별자치도 서귀포시
15470     초등학교           흥산초등학교  제주특별자치도 서귀포시

[6307 rows x 3 columns]

In [88]:
PE_df=pd.concat([P_df,E_df])

In [168]:
PE_df=PE_df.rename(columns={'학교 세부 유형':'학교종류','학교명':'유초등학교명'})

In [170]:
PE_df.to_csv('유초등학교_db.csv')

# 중학교

In [23]:
M_df= pd.read_csv('중학교_유형_주소(2018).csv',index_col=0)
M_df.head()
M_df=M_df[['학교 세부 유형','학교명','법정동']]
M_df

,학제,학교 세부 유형,시도,교육지원청,행정구,학교명,본분교,학교상태,우편번호,도로명주소,법정동
15471,중학교,일반중학교,서울,중부,종로구,경신중학교,본교,기존(원)교,030-67,서울특별시 종로구 혜화로 74 (혜화동.경신중고등학교),서울특별시 종로구
15472,중학교,일반중학교,서울,중부,종로구,대신중학교,본교,기존(원)교,030-29,서울특별시 종로구 사직로 9 (행촌동),서울특별시 종로구
15473,중학교,일반중학교,서울,중부,종로구,덕성여자중학교,본교,기존(원)교,030-62,서울특별시 종로구 율곡로3길 49 (송현동),서울특별시 종로구
15474,중학교,일반중학교,서울,중부,종로구,동성중학교,본교,기존(원)교,030-83,서울특별시 종로구 대학로 156 동성중학교 (혜화동90-7),서울특별시 종로구
15475,중학교,일반중학교,서울,중부,종로구,배화여자중학교,본교,기존(원)교,030-27,서울특별시 종로구 필운대로1길 34 배화여자중학교,서울특별시 종로구

      학교 세부 유형      학교명           법정동
15471    일반중학교    경신중학교     서울특별시 종로구
15472    일반중학교    대신중학교     서울특별시 종로구
15473    일반중학교  덕성여자중학교     서울특별시 종로구
15474    일반중학교    동성중학교     서울특별시 종로구
15475    일반중학교  배화여자중학교     서울특별시 종로구
...        ...      ...           ...
18726    일반중학교    안덕중학교  제주특별자치도 서귀포시
18727    일반중학교    위미중학교  제주특별자치도 서귀포시
18728    일반중학교    중문중학교  제주특별자치도 서귀포시
18729    일반중학교    표선중학교  제주특별자치도 서귀포시
18730    일반중학교    효돈중학교  제주특별자치도 서귀포시

[3260 rows x 3 columns]

In [154]:
M_df['학교']=M_df['학교명'] +' '+M_df['법정동']

# 고등학교

In [9]:
H_df= pd.read_csv('고등학교_유형_주소(2018).csv',index_col=0)
H_df.head()
H_df=H_df[['학교 세부 유형','학교명','법정동']]
H_df.drop_duplicates(['학교명'])

      학교 세부 유형          학교명           법정동
18731   상업고등학교     경기상업고등학교     서울특별시 종로구
18732   일반고등학교       경복고등학교     서울특별시 종로구
18733   일반고등학교       경신고등학교     서울특별시 종로구
18734   상업고등학교     대동세무고등학교     서울특별시 종로구
18735   일반고등학교       대신고등학교     서울특별시 종로구
...        ...          ...           ...
21090   일반고등학교      서귀포고등학교  제주특별자치도 서귀포시
21091  농림업고등학교  서귀포산업과학고등학교  제주특별자치도 서귀포시
21092   일반고등학교    서귀포여자고등학교  제주특별자치도 서귀포시
21094   가사고등학교       중문고등학교  제주특별자치도 서귀포시
21095   일반고등학교       표선고등학교  제주특별자치도 서귀포시

[2251 rows x 3 columns]

In [10]:
H_df['학교']=H_df['학교명']+' '+ H_df['법정동']
H_df

      학교 세부 유형          학교명           법정동                        학교
18731   상업고등학교     경기상업고등학교     서울특별시 종로구        경기상업고등학교 서울특별시 종로구
18732   일반고등학교       경복고등학교     서울특별시 종로구          경복고등학교 서울특별시 종로구
18733   일반고등학교       경신고등학교     서울특별시 종로구          경신고등학교 서울특별시 종로구
18734   상업고등학교     대동세무고등학교     서울특별시 종로구        대동세무고등학교 서울특별시 종로구
18735   일반고등학교       대신고등학교     서울특별시 종로구          대신고등학교 서울특별시 종로구
...        ...          ...           ...                       ...
21091  농림업고등학교  서귀포산업과학고등학교  제주특별자치도 서귀포시  서귀포산업과학고등학교 제주특별자치도 서귀포시
21092   일반고등학교    서귀포여자고등학교  제주특별자치도 서귀포시    서귀포여자고등학교 제주특별자치도 서귀포시
21093   수산고등학교       성산고등학교  제주특별자치도 서귀포시       성산고등학교 제주특별자치도 서귀포시
21094   가사고등학교       중문고등학교  제주특별자치도 서귀포시       중문고등학교 제주특별자치도 서귀포시
21095   일반고등학교       표선고등학교  제주특별자치도 서귀포시       표선고등학교 제주특별자치도 서귀포시

[2365 rows x 4 columns]

In [3]:
H_S_df=pd.read_csv('원본_고등학교 입시실적 크롤링.csv')
H_S_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1231 non-null   int64
 1   학교명주소        1231 non-null   object
 2   서울대 계수시정시	   1231 non-null   object
 3   KAIST 계수시정시  1231 non-null   object
 4   서울대 + KAIST  1231 non-null   object
 5   서울대 계수시정시    0 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 57.8+ KB

In [4]:
ind=[]
imd=[]
for i in range(len(H_S_df)):
    if str(H_S_df['학교명주소'][i]).split(')')[-1].split()[0] == '세종특별자치시' :
        ind.append(str(H_S_df['학교명주소'][i]).split('(')[0] +' '+ str(H_S_df['학교명주소'][i]).split(')')[1].split()[-2])
    else:
        ind.append(str(H_S_df['학교명주소'][i]).split('(')[0] +' '+ str(H_S_df['학교명주소'][i]).split(')')[-1].split()[0]+ ' '+str(H_S_df['학교명주소'][i]).split(')')[-1].split()[1])
    imd.append(str(H_S_df['서울대 계수시정시\t'][i]).split()[0])

In [5]:
str(H_S_df['학교명주소'][1000]).split('(')[0] +' '+ str(H_S_df['학교명주소'][1000]).split(')')[-1].split()[0]+ ' '+str(H_S_df['학교명주소'][1000]).split(')')[-1].split()[1]
H_S_df['학교명주소'][909]
i

1230

In [7]:

S_df =pd.DataFrame()
S_df['학교명']=ind
S_df['서울대합격자수']=imd
S_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231 entries, 0 to 1230
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   학교명      1231 non-null   object
 1   서울대합격자수  1231 non-null   object
dtypes: object(2)
memory usage: 19.4+ KB

In [11]:
fin_h=pd.merge(H_df,S_df,how='left', left_on='학교',right_on='학교명')

In [12]:
fin_h=fin_h[['학교 세부 유형','학교명_x','법정동','서울대합격자수']]

In [13]:
fin_h['서울대합격자수']=fin_h['서울대합격자수'].fillna(0)

In [14]:
fin_h=fin_h.rename(columns={'학교 세부 유형':'학교종류','학교명_x':'고등학교명'})

In [15]:
fin_h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2365 entries, 0 to 2364
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   학교종류     2365 non-null   object
 1   고등학교명    2365 non-null   object
 2   법정동      2365 non-null   object
 3   서울대합격자수  2365 non-null   object
dtypes: object(4)
memory usage: 92.4+ KB

In [175]:
fin_h.to_csv('고등학교_db.csv')

In [85]:
M_H_df=pd.read_csv('원본_중학교 특목고 진학정보 크롤링.csv')
M_H_df['학교명주소'].split('교')

,Unnamed: 0,학교명주소,총인원남학생여학생,"과학고외고/국제고자사고기타계(외국,영재,유학,대안)",특목고계특목고비율
0,0,우도중학교제주특별자치도 제주시 우도면,10 명6 명4 명,0 명1 명0 명0 명,1 명10.00 %
1,1,신엄중학교제주특별자치도 제주시 애월읍 신엄리,52 명29 명23 명,1 명4 명0 명0 명,5 명9.62 %
2,2,신창중학교제주특별자치도 제주시 한경면 신창리,19 명8 명11 명,0 명1 명0 명0 명,1 명5.26 %
3,3,한림여자중학교제주특별자치도 제주시 한림읍 한림리,83 명0 명83 명,0 명4 명0 명0 명,4 명4.82 %
4,4,노형중학교제주특별자치도 제주시 노형동,402 명170 명232 명,5 명14 명1 명5 명,19 명4.73 %
...,...,...,...,...,...
2794,15,숙명여자중학교서울특별시 강남구 도곡동,284 명0 명284 명,2 명6 명8 명0 명,8 명2.82 %
2795,16,언주중학교서울특별시 강남구 삼성동,332 명187 명145 명,5 명4 명59 명5 명,9 명2.71 %
2796,17,청담중학교서울특별시 강남구 청담동,166 명84 명82 명,3 명1 명28 명0 명,4 명2.41 %
2797,18,개원중학교서울특별시 강남구 개포동,278 명129 명149 명,0 명4 명20 명0 명,4 명1.44 %
2798,19,봉은중학교서울특별시 강남구 삼성동,149 명93 명56 명,1 명1 명30 명1 명,2 명1.34 %

In [162]:
m=[]
n=[]
M_H_df['특목고계특목고비율']=M_H_df['특목고계특목고비율'].fillna('0')
for i in range(len(M_H_df)):
    m.append(M_H_df['학교명주소'][i].split('중학교')[0]+'중학교' +' ' + M_H_df['학교명주소'][i].split('중학교')[1].split()[0]+ ' '+M_H_df['학교명주소'][i].split('중학교')[1].split()[1])
    n.append(M_H_df['특목고계특목고비율'][i].split()[0])

In [163]:
k_df =pd.DataFrame()
k_df['학교명']=m
k_df['특목고진학자수']=n
k_df

                      학교명 특목고진학자수
0       우도중학교 제주특별자치도 제주시       1
1       신엄중학교 제주특별자치도 제주시       5
2       신창중학교 제주특별자치도 제주시       1
3     한림여자중학교 제주특별자치도 제주시       4
4       노형중학교 제주특별자치도 제주시      19
...                   ...     ...
2794    숙명여자중학교 서울특별시 강남구       8
2795      언주중학교 서울특별시 강남구       9
2796      청담중학교 서울특별시 강남구       4
2797      개원중학교 서울특별시 강남구       4
2798      봉은중학교 서울특별시 강남구       2

[2799 rows x 2 columns]

In [164]:
final_m=pd.merge(k_df, M_df ,how='right', right_on='학교',left_on='학교명')

In [166]:
final_m=final_m[['특목고진학자수','학교 세부 유형','학교명_y','법정동']]

In [176]:
final_m=final_m.rename(columns={'학교 세부 유형':'학교종류','학교명_y':'중학교명'})

In [177]:
final_m.to_csv('중학교_db.csv')